@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;500;700&family=Roboto:wght@700;900&family=Source+Code+Pro:wght@700&display=swap");
* {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  background: #96b6c5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.todolist-container {
  box-sizing: border-box;
  background: #eee0c9;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.todolist-container h1 {
  margin-bottom: 30px;
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #96b6c5;
  border-radius: 4px;
}

.input-container button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background: #96b6c5;
  margin-left: 20px;
  color: white;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f0e8;
  padding: 10px;
  position: relative;
  font-weight: bold;
}

ul li:last-child {
  border-bottom: none;
}

.btn-edit {
  background: #96b6c5;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background: #96b6c5;
  margin-left: 20px;
  color: white;
}

.btn-delete {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background: red;
  margin-left: 20px;
  color: white;
}

.btn-clear {
  padding: 10px;
  background: #eee0c9;
  color: red;
  border: none;
  border-radius: 5px;
  border: 1px solid red;
}

.btn-clear:hover {
  background-color: red;
  color: #eee0c9;
  transition: 0.16s;
}

.empty {
  color: red;
  font-size: 13px;
}

.empty-input {
  position: absolute;
  bottom: -6px;
  color: red;
  font-size: 13px;
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 300px) {
  .todolist-container {
    padding: 0rem;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.social a {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #96b6c5;
  background:  #eee0c9;
  border-radius: 25px;
  padding: 7px 7px;
  margin: 0 10px;
  cursor: pointer;
}

.social a:hover {
  transition: 0.6s;
  background: #eee0c9;
  color: #73A9AD
}
